{{#if showError}}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Title!</strong> {{errorMsg}}
</div>
{{/if}}

<div class="text-center">
    <form action="" method="POST" class="form-signup form-horizontal" role="form" onsubmit="return validate();">
        <img class="" src="/images/logo.jpg" alt="" width="50%" height="70%">
        <h1 class="h3 mb-4 font-weight-normal">Sign up</h1>
        <div class="form-group">
            <label for="txtUsername" class="sr-only">User name</label>
            <div class="">
                <input type="text" class="form-control mb-3" name="username" id="txtUsername" placeholder="Username" autofocus="" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="txtPWD" class="sr-only">Password</label>
            <div class="">
                <input type="password" id="txtPWD" class="form-control mb-3" placeholder="Password" name="rawPWD" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="txtCPWD" class="sr-only">Re-enter Password</label>
            <div class="">
                <input type="password" class="form-control mb-3" id="txtCPWD" placeholder="Re-enter Password" name="cPWD" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="txtName" class="sr-only">Your Name</label>
            <div class="">
                <input type="text" class="form-control mb-3" id="txtName" placeholder="Your Name" name="name" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="txtEmail" class="sr-only">Email</label>
            <div class="">
                <input type="text" class="form-control mb-3" id="txtEmail" placeholder="Email" name="email" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="txtDOB" class="sr-only">Date of Birth</label>
            <div class="">
                <input type="text" class="form-control mb-3" id="txtDOB" placeholder="dd/mm/yyyy" name="dob" required="">
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LdZglQUAAAAAAReQrsF08evZqxDomRJz2W-WngR"></div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-success">
                    Sign up
                </button>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
</div>
{{!-- <!-- Content page -->
<div class="text-center">
    <form class="form-signup" method="POST" role="form" onsubmit="return validate();">
        <img class="" src="./images/logo.jpg" alt="" width="50%" height="70%">
        <h1 class="h3 mb-4 font-weight-normal">Sign up</h1>


        <div class="field_password">
            <label class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required="">
            <!-- <a href="#0" class="hide-password">Show</a> -->
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> I agree to the <a href="#">Term</a>
            </label>
        </div>

        <div class="g-recaptcha" data-sitekey="6LdZglQUAAAAAAReQrsF08evZqxDomRJz2W-WngR"></div>


    </form>
</div>



 --}}
