{{#section 'title'}}
	<li class="breadcrumb-item active">
   	 <a href="/admin/category">Category</a>
  	</li>
	<li class="breadcrumb-item active">
	  <a href="#">Edit Category</a>
	</li>
{{/section}}

{{#with Category}}
<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">ID</label>
		<input type="text" class="form-control" id="" name="CatId" value="{{CatID}}" readonly>
	</div>
	<div class="form-group">
		<label for="">Category Name</label>
		<input type="text" class="form-control" id="" name="CatName" value="{{CatName}}">
	</div>

	<a class="btn btn-default" href="/admin/category" role="button">
		<span class="glyphicon glyphicon-arrow-left"></span>
		View List
	</a>
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span>
		Update
	</button>
</form>
{{/with}}