{{#section 'title'}}
	Đăng nhập
{{/section}}

{{#section 'css'}}
	<style type="text/css">
		label {
			font-weight: normal !important;
		}
	</style>
{{/section}}

{{#if showError}}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Title!</strong> {{errorMsg}}
</div>
{{/if}}

<div class="text-center">
    <form class="form-signin form-horizontal" method="post" action="" id="frmLogin">
        <div class="form-group">
            <img class="" src="/images/logo.jpg" alt="" width="50%" height="70%">
            <h1 class="h3 mb-4 font-weight-normal">Sign in</h1>
            <label for="txtUsername" class="sr-only">Email address</label>
            <div class="">
                <input type="text" id="txtUsername" class="form-control mb-3" placeholder="Username"  name="username" required="" autofocus="">
            </div>
        </div>
        <div class="form-group">
            <label for="txtPWD" class="sr-only">Password</label>
            <div class="">
                <input type="password" id="txtPWD" class="form-control mb-3" placeholder="Password" required=""  name="rawPWD">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
        </div>

       <div class="g-recaptcha" data-sitekey="6LfaKWEUAAAAAPQHZKvqwzheYgSMx4nDuppPI_c0"></div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span>
                   Sign In
                </button>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
</div>