{{#section 'title'}}
	{{#if IsCat}}
		<li class="breadcrumb-item active">
	   	 <a href="/admin/category">Category</a>
	  	</li>
		<li class="breadcrumb-item active">
		  <a href="/admin/product/byCat/{{CatID}}">Product By Category</a>
		</li>
	{{else}}
		<li class="breadcrumb-item active">
	   	 <a href="/admin/product">Products</a>
	  	</li>
	{{/if}}

	<li class="breadcrumb-item active">
	  <a href="#">Add A Product</a>
	</li>
{{/section}}

{{#if showAlert}}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Product added.
</div>
{{/if}}

<form action='' enctype="multipart/form-data" method="POST" role="form">
	<div class="form-group">
		<label for="">Product Name</label>
		<input type="text" class="form-control" id="" name="ProName" placeholder="Product">
	</div>
	<div class="form-group">
		<label for="">Factory</label>
		<input type="text" class="form-control" id="" name="Factory" placeholder="Factory">
	</div>
	<div class="form-group">
		<label for="">Overview</label>
		<textarea class="form-control" name="Overview" rows="5" cols="30" placeholder="Overview"></textarea>
	</div>
	<div class="form-group">
		<label for="">Detail</label>
		<textarea class="form-control" name="Detail" rows="10" cols="30" placeholder="Detail"></textarea>
	</div>
	<div class="form-group">
		<label for="">Price</label>
		<input type="text" class="form-control" id="" name="Price" placeholder="Price">
	</div>
	<input type="hidden" id="" name="CatID" value="{{CatID}}"> 
	<div class="form-group">
		<label for="">Quantity</label>
		<input type="text" class="form-control" id="" name="Quantity" placeholder="Quantity">
	</div>
	<input type="file" name="Image">
	<hr/><hr/><hr/>
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-check"></span>
		Save
	</button>
</form>