<!--Layout Home Page của người dùng-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{{title}}}</title>

    <!--Home Page-->
    {{#compare  title 'One Tech' operator="=="}}
        {{> Home/home.css}}
    {{/compare }}
    <!--Shop Page-->
    {{#compare title 'Shop' operator="=="}}
        {{> Shop/shop.css}}
    {{/compare}}
    <!--Cart Page-->
    {{#compare title 'Cart' operator="=="}}
        {{> Cart/cart.css}}
    {{/compare}}
    <!--Detail Page-->
    {{#compare title 'Single Product' operator="=="}}
        {{> Detail/detail.css}}
    {{/compare}}

</head>

<body>

    <div class="super_container">

        <!-- Header -->

        {{> _layouts/header.layout}}

        <div class="container-body">
            {{{body}}}
        </div>

        {{> _layouts/footer.layout}}

    </div>

    <!--Home Page-->
    {{#compare  title 'One Tech' operator="=="}}
        {{> Home/home.js}}
    {{/compare }}
    <!--Shop Page-->
    {{#compare title 'Shop' operator="=="}}
        {{> Shop/shop.js}}
    {{/compare}}
    <!--Cart Page-->
    {{#compare title 'Shop' operator="=="}}
        {{> Cart/cart.js}}
    {{/compare}}
    <!--Detail Page-->
    {{#compare title 'Single Product' operator="=="}}
        {{> Detail/detail.js}}
    {{/compare}}

</body>

</html>