<!--Layout Home Page của người dùng-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{{title}}}</title>

    <!--Home Page-->
    {{#compare  title 'One Tech' operator="=="}}
        {{> _partialsUser/Home/home.css}}
    {{/compare }}

    <!--Shop Page-->
    {{#compare title 'Shop' operator="=="}}
        {{> _partialsUser/Shop/shop.css}}
    {{/compare}}

    <!--Cart Page-->
    {{#compare title 'Cart' operator="=="}}
        {{> _partialsUser/Cart/cart.css}}
    {{/compare}}

    <!--Detail Page-->
    {{#compare title 'Single Product' operator="=="}}
        {{> _partialsUser/Detail/detail.css}}
    {{/compare}}

    <!--InfoAccount Page-->
    {{#compare title 'Info Account' operator="=="}}
        {{> _partialsUser/InfoAccount/InfoAccount.css}}
    {{/compare}}

    <!--Payment Page-->
    {{#compare title 'Payment' operator="=="}}
        {{> _partialsUser/Payment/Payment.css}}
    {{/compare}}

    <!--SignIn Page-->
    {{#compare title 'Sign In' operator="=="}}
        {{> _partialsUser/SignIn/signin.css}}
    {{/compare}}

    <!--SignUp Page-->
    {{#compare title 'Register' operator="=="}}
        {{> _partialsUser/SignUp/signup.css}}
    {{/compare}}

    <!--SignUp Page-->
    {{#compare title 'Profile' operator="=="}}
        {{> _partialsUser/InfoAccount/InfoAccount.css}}
    {{/compare}}

    <!--User History Page-->
    {{#compare title 'User History' operator="=="}}
        {{> _partialsUser/UserHistory/userhistory.css}}
    {{/compare}}

    <!--User History Detail Page-->
    {{#compare title 'User History Detail' operator="=="}}
        {{> _partialsUser/UserHistoryDetail/userhistorydetail.css}}
    {{/compare}}

</head>

<body>

    <div class="super_container">

        <!-- Header -->

        {{> _layouts/header.layout}}

        <div class="container-body">
            {{{body}}}
        </div>

        {{> _layouts/footer.layout}}

    </div>

    <!--Home Page-->
    {{#compare  title 'One Tech' operator="=="}}
        {{> _partialsUser/Home/home.js}}
    {{/compare }}
    <!--Shop Page-->
    {{#compare title 'Shop' operator="=="}}
        {{> _partialsUser/Shop/shop.js}}
    {{/compare}}
    <!--Cart Page-->
    {{#compare title 'Cart' operator="=="}}
        {{> _partialsUser/Cart/cart.js}}
    {{/compare}}
    <!--Detail Page-->
    {{#compare title 'Single Product' operator="=="}}
        {{> _partialsUser/Detail/detail.js}}
    {{/compare}}
    <!--InfoAccount Page-->
    {{#compare title 'Info Account' operator="=="}}
        {{> _partialsUser/InfoAccount/InfoAccount.js}}
    {{/compare}}
    <!--Payment Page-->
    {{#compare title 'Payment' operator="=="}}
        {{> _partialsUser/Payment/Payment.js}}
    {{/compare}}

    <!--SignIn Page-->
    {{#compare title 'Sign In' operator="=="}}
        {{> _partialsUser/SignIn/signin.js}}
    {{/compare}}

    <!--SignUp Page-->
    {{#compare title 'Register' operator="=="}}
        {{> _partialsUser/SignUp/signup.js}}
    {{/compare}}

    {{#compare title 'Profile' operator="=="}}
        {{> _partialsUser/InfoAccount/InfoAccount.js}}
    {{/compare}}

    <!--User History Page-->
    {{#compare title 'User History' operator="=="}}
        {{> _partialsUser/UserHistory/userhistory.js}}
    {{/compare}}

    <!--User History Detail Page-->
    {{#compare title 'User History Detail' operator="=="}}
        {{> _partialsUser/UserHistoryDetail/userhistorydetail.js}}
    {{/compare}}



    <script type="text/javascript">
        $('#lnkLogout').on('click', function() {
            $('#frmLogout').submit();
        });
    </script>
</body>

</html>