<!--Layout Home Page của người dùng-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{{title}}}</title>

    <!--SignIn Page-->
    {{#compare title 'Sign In' operator="=="}}
        {{> _partialsUser/SignIn/signin.css}}
    {{/compare}}

    <!--SignUp Page-->
    {{#compare title 'Sign Up' operator="=="}}
        {{> _partialsUser/SignUp/signup.css}}
    {{/compare}}


</head>

<body>

<div class="super_container">
    <header class="header">
        <!-- Top Bar -->

        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/phone.png" alt=""></div>+38 068 005 3570</div>
                        <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/mail.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
                        <div class="top_bar_content ml-auto">
                            <div class="top_bar_menu">
                                <ul class="standard_dropdown top_bar_dropdown">
                                    <li>
                                        <a href="#">English<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="#">Vietnamese</a></li>
                                            <li><a href="#">Italian</a></li>
                                            <li><a href="#">Japanese</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">$ US dollar<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="#">VND</a></li>
                                            <li><a href="#">EUR Euro</a></li>
                                            <li><a href="#">JPY Japanese Yen</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="top_bar_user">
                                <div class="user_icon"><img src="images/user.svg" alt=""></div>
                                <div><a href="./sign_up.html">Register</a></div>
                                <div><a href="./sign_in.html">Sign in</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Main -->

        <div class="header_main">
            <div class="container">
                <div class="row">

                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a href="./index.html">OneTech</a></div>
                        </div>
                    </div>
                    <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <form action="#" class="header_search_form clearfix">
                                        <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                                        <div class="custom_dropdown">
                                            <div class="custom_dropdown_list">
                                                <span class="custom_dropdown_placeholder clc">All Categories</span>
                                                <i class="fas fa-chevron-down"></i>
                                                <ul class="custom_list clc">
                                                    <li><a class="clc" href="./shop.html">All Categories</a></li>
                                                    <li><a class="clc" href="./shop.html">Macbook - iMac</a></li>
                                                    <li><a class="clc" href="./shop.html">HP Laptops</a></li>
                                                    <li><a class="clc" href="./shop.html">Dell Laptops</a></li>
                                                    <li><a class="clc" href="./shop.html">ASUS Laptops</a></li>
                                                    <li><a class="clc" href="./shop.html">Acer Laptops</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <button type="submit" class="header_search_button trans_300" value="Submit"><img src="images/search.png" alt=""></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Wishlist -->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist_icon"><img src="images/heart.png" alt=""></div>
                                <div class="wishlist_content">
                                    <div class="wishlist_text"><a href="./sign_in.html">Wishlist</a></div>
                                    <div class="wishlist_count">115</div>
                                </div>
                            </div>

                            <!-- Cart -->
                            <div class="cart">
                                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart_icon">
                                        <img src="images/cart.png" alt="">
                                        <div class="cart_count"><span>10</span></div>
                                    </div>
                                    <div class="cart_content">
                                        <div class="cart_text"><a href="./sign_in.html">Cart</a></div>
                                        <div class="cart_price">$85</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container-body">
        {{{body}}}
    </div>

    {{> _layouts/footer.layout}}

</div>

    <!--SignIn Page-->
    {{#compare title 'Sign In' operator="=="}}
        {{> _partialsUser/SignIn/signin.js}}
    {{/compare}}

    <!--SignUp Page-->
    {{#compare title 'Sign Up' operator="=="}}
        {{> _partialsUser/SignUp/signup.js}}
    {{/compare}}


</body>

</html>