
<div>
    <ol class="breadcrumb" style="border-top: solid 1px;  border-bottom: solid 1px; border-color: #EDEDED; background-color: #FAFAFA;">
        <li class="breadcrumb-item" style="margin-left: 105px;"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Account</li>
        <li class="breadcrumb-item active" aria-current="page">Histories</li>
    </ol>
</div>

<br>
<div class="container">

    <div class="row">

        <div class="col-3">

            <div class="list-group-flush" style="margin-top: 55px;">

                <a href="./Account.html" class="list-group-item list-group-item-action">Account infomations</a>
                <a href="./history.html" class="list-group-item list-group-item-action">Your Histories</a>

            </div>
        </div>

        <div class="col-9" >
            <div class="row">

                <div class="col-8">
                    <h1 style="font-weight: 100; font-size: 20px;">
                        Detail of #534232343 - Have delivered
                    </h1>
                </div>
                <div class="col-4">
                    <p>Date of the order: 06/04/2018</p>

                </div>
            </div>

            <div class="row" style="margin-top: 12px;">
                <div class="col-4">
                    <div class="card" style="width: 18rem; border: 0px;">
                        <div class="card-body">
                            <h5 class="card-title">CUSTOMER</h5>
                            <hr>
                            <p class="card-text">
                                <div>
                            <p style="color: #242424;">Việt Dương</p>

                            <p><span>Address: </span>114/24, De Tham street,District 1, TP.HCM, Ho Chi Minh, Viet Nam</p>

                            <p><span>Phone:</span> 01632511676</p>
                        </div>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem; border: 0px;">
                    <div class="card-body">
                        <h5 class="card-title">DELIVERY</h5>
                        <hr>
                        <p class="card-text">
                            <div>

                        <p>2H quick delivery (delivered before 10:00 2018-04-07)</p>

                        <p><span>Delivery fee:</span> $20</p>
                    </div>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem; border: 0px;">
                <div class="card-body">
                    <h5 class="card-title">PAYMENT</h5>
                    <hr>
                    <p class="card-text">
                        Pay by cash
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 100%; border: 0px;">
                <div class="card-body">

                    <p class="card-text">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div>
                                    <img src="images/product_1.jpg" width="130" height="130">

                                </div>
                                <div style="margin-left: 40px;">
                                    <h5>Dell 5547</h5>
                                </div>



                            </td>

                            <td>1</td>
                            <td>$1000</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <img src="images/product_11.jpg" width="130" height="130">

                                </div>
                                <div style="margin-left: 40px;">
                                    <h5>Dell 5547</h5>
                                </div>



                            </td>

                            <td>1</td>
                            <td>$2000</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <img src="images/product_12.jpg" width="130" height="130">

                                </div>
                                <div style="margin-left: 40px;">
                                    <h5>Dell 5547</h5>
                                </div>

                            </td>

                            <td>1</td>
                            <td>$3000</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <!--Total Summary List-->
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <span>Price</span>
                            </td>
                            <td >$6000</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="border: 0px; text-align: right;">
                                <span>Delivery fee</span>
                            </td>
                            <td style="border: 0px;">$500</td>
                        </tr>

                        <!--Final Total-->
                        <tr>
                            <td colspan="2" style="border: 0px; text-align: right;"><span>Sum</span></td>
                            <td style="border: 0px; color: #ff3b27;">$6500</td>
                        </tr>
                        </tfoot>
                    </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="./history.html" role="button">Go back your orders</a>
</div>

