<!--Content-->
<div class="payment-content">
    <div class="row" style="margin-left: 100px; margin-right: 100px;">
        <div class="col-8">
            <div>
                <div>
                    <h4>1.Delivery</h4>
                </div>
                <div class="card" style="padding: 10px;">
                    <div class=" form-check form-check-inline">

                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked">

                        <label class="form-check-label" for="inlineRadio1" >Normal delivery free</label>

                    </div>
                    <br>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked">
                        <label class="form-check-label" for="inlineRadio1">Quick delivery in 2 hours with 20$</label>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div>
                <div>
                    <h4>2.Payment</h4>
                </div>
                <div class="card" style="padding: 10px;">
                    <div class=" form-check form-check-inline">

                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2" checked="checked">

                        <label class="form-check-label" for="inlineRadio1" >Pay by cash when product come</label>

                    </div>
                    <br>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio1">By Visa, Master card</label>
                    </div>
                    <br>
                    <br>

                    <div class=" form-check form-check-inline">

                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">

                        <label class="form-check-label" for="inlineRadio1" >Local ATM card/Internet banking</label>

                    </div>
                </div>
            </div>


            <div style="margin-top: 50px;">

                <a href="./order_detail.html" type="button" class="btn btn-danger btn-lg btn-block ">Order</a>
            </div>
        </div>

        <div class="col-4">

            <div class="card" style=" margin-top: 28px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8" style="padding-top: 10px;">
                            <h5 class="card-title">
                                Delivery address
                            </h5>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </div>
                    </div>

                    <hr>

                    <h6 class="card-subtitle mb-2 text-muted">Viet Duong</h6>
                    <p class="card-text">
                        114/24 alley, De Tham street, disct 1 of Ho Chi Minh City, Viet Nam.
                    </p>
                </div>
            </div>


            <div class="card" style=" margin-top: 28px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8" style="padding-top: 10px;">
                            <h5 class="card-title">
                                Order(1 item)
                            </h5>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </div>
                    </div>

                    <hr>

                    <div class="row card-text">
                        <div class="col-8">
                            1 x MacBook Pro 2018
                        </div>
                        <div class="col-4">
                            $1000
                        </div>
                    </div>
                    <hr>
                    <div class="row card-text">
                        <div class="col-8">
                            Price
                        </div>
                        <div class="col-4">
                            $1000
                        </div>
                    </div>

                    <div class="row card-text">
                        <div class="col-8">
                            Delivery fee
                        </div>
                        <div class="col-4" style="padding-left: 30px;">
                            $20
                        </div>
                    </div>
                    <hr>
                    <div class="row card-text">
                        <div class="col-8">
                            <b> Sum</b>

                        </div>
                        <div class="col-4" style="color: red;">
                            <b>  $1020</b>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>


